@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.centered {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-text {
  text-align: center;
}
.creds-form {
  width: 500px;
  margin: 0 auto;
}
.form-input {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
  margin-bottom: 16px;
}
input {
  height: 40px;
}
.btn {
  margin-right: 4px;
}
.btn:last-child {
  margin-right: 0;
}
.required label::after {
  content: '*';
  color: rgb(var(--v-theme-error));
}
.error-message {
  color: rgb(var(--v-theme-error));
  margin-bottom: 16px;
  height: 24px;
}
.v-overlay-scrim {
  background-color: black;
  opacity: 0.2;
}
