@import './base.css';

:root {
  --primary: #1c4d9c;
  --secondary: #3a3b3b;
  --success: #33804d;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.centered {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-text {
  text-align: center;
}
.creds-form {
  width: 500px;
  margin: 0 auto;
}
.v-chip {
  margin-right: 4px;
}
.v-chip:last-child {
  margin-right: 0;
}
.required label::after {
  content: '*';
  color: rgb(var(--v-theme-error));
}
.error-message {
  color: rgb(var(--v-theme-error));
  margin-bottom: 16px;
  height: 24px;
}
.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th,
.v-data-table-footer {
  background-color: var(--secondary) !important;
  padding: 2px 8px !important;
  color: white;
}
